@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;
}

body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    font-family: 'Inter', sans-serif;
}

@layer utilities {
    .glass-panel {
        @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
    }
}
